@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 58%;
  }
}
