.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  padding-top: 2rem;
}
.notSticky {
  position: relative;
}

.header__logoImg {
  object-fit: contain; /* maintains the aspect ratio */
  width: 12rem;
  flex: 1;
  position: relative;
  z-index: 0;
  margin-right: 10rem;
}

.header__links {
  display: flex;
  gap: 2rem;
  align-self: center;
}
.header__links > a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #393c41;
  font-weight: 400;
}
.header__links > a::first-letter {
  text-transform: capitalize;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__right > a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  z-index: 0;
  position: relative;
}
.header__link--hidden {
  visibility: hidden;
}

.header__menu {
  position: relative;
  z-index: 2;
}
.header__menu > .MuiSvgIcon-root {
  position: relative;
  z-index: 100;
  cursor: pointer;
  font-size: 1.4rem;
  width: 1.4rem;
  z-index: 3;
}

@media (max-width: 1100px) {
  .header__links {
    display: none;
  }
  .shop {
    display: none;
  }
}
