.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.loader {
  position: absolute;
  z-index: 11;
  width: 50px;
  height: 50px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg {
  width: 90%;
  fill: none;
}

.load {
  transform-origin: 50% 50%;
  stroke-dasharray: 570;
  stroke-width: 20px;
}
.load.one {
  stroke: #554d73;
  animation: load 1.5s infinite;
}
.load.two {
  stroke: #a496a4;
  animation: load 1.5s infinite;
  animation-delay: 0.1s;
}
.load.three {
  stroke: #a5a7bb;
  animation: load 1.5s infinite;
  animation-delay: 0.2s;
}

.point {
  animation: bounce 1s infinite ease-in-out;
}
.point.one {
  fill: #a5a7bb;
  animation-delay: 0s;
}
.point.two {
  fill: #a496a4;
  animation-delay: 0.1s;
}
.point.three {
  fill: #554d73;
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    transform: rotate(360deg);
  }
}
